
.low-usage {
  color: darkseagreen;
}

.medium-usage {
  color: skyblue;
}

.high-usage {
  color: salmon;
}

body {
  font-family: chalkduster, fantasy; 
  background: powderblue;

}

#left {
  background: 
  float: left;
  height 100%;
  width: 50%;
}

#leftTop {
  height 50%;
  width: 100%;
  padding: 0 0 30px 0;
  font-size: 150px;
}

#leftBottom {
  color: white;
  height: 50%;
  width: 100%;
  padding: 60px 0 0 0;
  font-size: 20px;
}

#right {
  color: white;
  float: right;
  height 100%;
  width: 50%;
  padding: 100px 0 0 0;
}

body{
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}

button {
  background: none;
  border: none;
  font-family: chalkduster, fantasy; 
  font-size: 50px;
}

#submit {
  background: none;
  border: none;
  font-family: chalkduster, fantasy; 
  font-size: 40px;
}

#currentCity {
  background: none;
  border: none;
  font-family: chalkduster, fantasy; 
  font-size: 30px;
  color: skyblue;
}
